! error-printout-device                             6
! printout-device                                   6
! print-level                                       0
! initial-filter-size                               100
! filter-constraint-improvement-factor              0.99
! filter-function-improvement-factor                0.01
! space-critical                                    no
! deallocate-error-fatal                            no
! output-line-prefix                                ''
