objects/*
modules/*
versions/*
makefiles/*
bin/sys/*
**/*.mexa64
html/Python/.doctrees
html/Python/.buildinfo
html/Python/_sources
html/C/.doctrees
html/C/.buildinfo
html/C/_sources
html/Julia/.doctrees
html/Julia/.buildinfo
html/Julia/_sources
src/makedefs/packages
GALAHAD.jl/Manifest.toml
GALAHAD.jl/gen/Manifest.toml
