objects/*
modules/*
versions/*
makefiles/*
bin/sys/*
**/*.mexa64
html/Python/.doctrees
html/Python/.buildinfo
html/Python/_sources
html/C/.doctrees
html/C/.buildinfo
html/C/_sources
src/makedefs/packages
