! error-printout-device                             6
! printout-device                                   6
! print-level                                       0
! workspace-expansion-factor                        1.2
! aggressive-absorbtion                             .TRUE.
