! qplib-file-device                                 21
! error-printout-device                             6
! printout-device                                   6
! print-level                                       0
! space-critical                                    F
! deallocate-error-fatal                            F
