! error-printout-device                             6
! printout-device                                   6
! print-level                                       0
! approximation-algorithm                           3
! dense-linear-solver                               1
! maximum-degree-considered-sparse                  50
! space-critical                                    no
! deallocate-error-fatal                            no
! output-line-prefix                                ""
