name: Meson
on:
  push:
    branches:
      - master
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  windows-gcc-build:
    name: ${{ matrix.os }}/${{ matrix.compiler }}-v${{ matrix.version }}/Int${{ matrix.int }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: ['windows-latest']
        arch: ['x64']
        compiler: ['gcc']
        version: ['11']
        int: ['32', '64']
        sanitizers: ['false']
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Run common setup
        uses: ./.github/meson
        with:
          os: ${{ matrix.os }}
          compiler: ${{ matrix.compiler }}
          version: ${{ matrix.version }}
          int: ${{ matrix.int }}
          sanitizers: ${{ matrix.sanitizers }}

  mac-linux-gcc-build:
    name: ${{ matrix.os }}/${{ matrix.compiler }}-v${{ matrix.version }}/Int${{ matrix.int }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: ['ubuntu-latest', 'macos-13']
        arch: ['x64']
        compiler: ['gcc']
        version: ['13']
        int: ['32', '64']
        sanitizers: ['false']
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Run common setup
        uses: ./.github/meson
        with:
          os: ${{ matrix.os }}
          compiler: ${{ matrix.compiler }}
          version: ${{ matrix.version }}
          int: ${{ matrix.int }}
          sanitizers: ${{ matrix.sanitizers }}

  silicon-gcc-build:
    name: ${{ matrix.os }}/${{ matrix.compiler }}-v${{ matrix.version }}/Int${{ matrix.int }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: ['macos-latest']
        arch: ['arm64']
        compiler: ['gcc']
        version: ['13']
        int: ['32', '64']
        sanitizers: ['false']
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Run common setup
        uses: ./.github/meson
        with:
          os: ${{ matrix.os }}
          compiler: ${{ matrix.compiler }}
          version: ${{ matrix.version }}
          int: ${{ matrix.int }}
          sanitizers: ${{ matrix.sanitizers }}

  arm-linux-build:
    name: ${{ matrix.os }}/${{ matrix.compiler }}-v${{ matrix.version }}/Int${{ matrix.int }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: ['ubuntu-24.04-arm']
        arch: ['arm64']
        compiler: ['gcc']
        version: ['14']
        int: ['32', '64']
        sanitizers: ['false']
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Run common setup
        uses: ./.github/meson
        with:
          os: ${{ matrix.os }}
          compiler: ${{ matrix.compiler }}
          version: ${{ matrix.version }}
          int: ${{ matrix.int }}
          sanitizers: ${{ matrix.sanitizers }}

  # intel-classic-build:
  #   name: ${{ matrix.os }}/${{ matrix.compiler }}-v${{ matrix.version }}/Int${{ matrix.int }}
  #   runs-on: ${{ matrix.os }}
  #   strategy:
  #     fail-fast: false
  #     matrix:
  #       os: ['ubuntu-latest']
  #       arch: ['x64']
  #       compiler: ['intel-classic']
  #       version: ['2021.10']
  #       int: ['32', '64']
  #       sanitizers: ['false']
  #   steps:
  #     - name: Checkout repository
  #       uses: actions/checkout@v4
  #     - name: Run common setup
  #       uses: ./.github/meson
  #       with:
  #         os: ${{ matrix.os }}
  #         compiler: ${{ matrix.compiler }}
  #         version: ${{ matrix.version }}
  #         int: ${{ matrix.int }}
  #         sanitizers: ${{ matrix.sanitizers }}

  # intel-build:
  #   name: ${{ matrix.os }}/${{ matrix.compiler }}-v${{ matrix.version }}/Int${{ matrix.int }}
  #   runs-on: ${{ matrix.os }}
  #   strategy:
  #     fail-fast: false
  #     matrix:
  #       os: [windows-latest, ubuntu-latest]
  #       compiler: ['intel']
  #       arch: ['x64']
  #       version: ['2023.2']
  #       int: ['32', '64']
  #       sanitizers: ['false']
  #   steps:
  #     - name: Checkout repository
  #       uses: actions/checkout@v4
  #     - name: Run common setup
  #       uses: ./.github/meson
  #       with:
  #         os: ${{ matrix.os }}
  #         compiler: ${{ matrix.compiler }}
  #         version: ${{ matrix.version }}
  #         int: ${{ matrix.int }}
  #         sanitizers: ${{ matrix.sanitizers }}

  # nvidia-build:
  #   name: ${{ matrix.os }}/${{ matrix.compiler }}-v${{ matrix.version }}/Int${{ matrix.int }}
  #   runs-on: ${{ matrix.os }}
  #   strategy:
  #     fail-fast: false
  #     matrix:
  #       os: [windows-latest, ubuntu-latest]
  #       arch: ['x64']
  #       compiler: ['nvidia-hpc']
  #       version: ['25.1']
  #       int: ['32', '64']
  #       sanitizers: ['false']
  #   steps:
  #     - name: Checkout repository
  #       uses: actions/checkout@v4
  #     - name: Run common setup
  #       uses: ./.github/meson
  #       with:
  #         os: ${{ matrix.os }}
  #         compiler: ${{ matrix.compiler }}
  #         version: ${{ matrix.version }}
  #         int: ${{ matrix.int }}
  #         sanitizers: ${{ matrix.sanitizers }}
