name: Moonshot
on:
  push:
    branches:
      - master
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  test-moonshot-hsl:
    env:
      CUDA_VISIBLE_DEVICES: 1
      JULIA_DEPOT_PATH: /scratch/github-actions/julia_depot_galahad
    runs-on: self-hosted
    strategy:
      fail-fast: false
      matrix:
        os: ['self-hosted']
        arch: ['x64']
        compiler: ['gcc']
        version: ['13']
        int: ['32', '64']
        sanitizers: ['false']
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Run common setup
        uses: ./.github/meson
        with:
          os: ${{ matrix.os }}
          compiler: ${{ matrix.compiler }}
          version: ${{ matrix.version }}
          int: ${{ matrix.int }}
          sanitizers: ${{ matrix.sanitizers }}
